body {
  background-color:white;
}
.special {
  text-align:center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.7em;
}
nav ul {
  list-style-type: none;
}
nav {
  display:flex;
  font-size:1.2em;
  background-color:grey;
}
.nav-link {
  display:flex;
  flex-wrap:wrap;
  gap:2em;
}
li:hover {
  color:red;
}
.logo-wrapper a:hover {
  color: red;
}
.logo-wrapper p {
  font-size: 1.5rem;
}
.top-bar a {
  color: black;
  text-decoration: none; 
}
.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color:grey;
}
  img {
  align:center;
  width:50%;
  height:50%;
  padding-bottom:50px;
  padding-top:80px;  
}
footer {
  text-align:center;
  padding:50px;
}